# Application data
app/application_data/input_image/input_image.jpg
app/application_data/verification_images/

# Model files
app/siamesemodel.keras
app/siamesemodelv2.keras
app/siamesemodelv3.keras

# Python cache
__pycache__/
*.pyc
*.pyo

# Training data
data/anchor/
data/positive/